* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
   background: linear-gradient(to bottom left,rgba(48, 2, 48, 0.801),rgb(87, 5, 87),rgb(128, 9, 128), purple, rgba(255, 107, 255, 0.562) ,rgb(170, 4, 170), rgb(211, 10, 211),rgb(199, 91, 199),rgb(163, 103, 163));
   background-repeat: no-repeat;
   height: 100vh;
   padding-top: 30px;
}

.grade {
    background-image: url(./lilac\ flower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 100px auto;
    padding: 30px;
    width: 470px;
    height: 370px;
    border-radius: 20px;
}

input {
    background-image: url(./cotten.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    box-shadow: 3px 3px 3px;
    border-radius: 15px;
    width: 290px;
    height: 47px;
    color: rgb(118, 14, 118);
    text-align: center;
    font-size: 20px;

}

button {
    background-image: url(./purple\ water.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 9px;
    width: 100px;
    height: 49px;
    font-size: 20px;
    box-shadow: 3px 3px 3px black;
    color: rgb(235, 163, 76);
}

@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
        background: linear-gradient(to bottom left,rgba(48, 2, 48, 0.801),rgb(87, 5, 87),rgb(128, 9, 128), purple, rgb(167, 8, 167) ,rgb(170, 4, 170), rgb(211, 10, 211),rgb(199, 91, 199),rgb(163, 103, 163));
       background-repeat: no-repeat;
       height: 100vh;
       padding-top: 50px;
    }

    .grade {
        background-image: url(./lilac\ flower.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 80px auto;
        padding-top: 40px;
        width: 350px;
        height: 450px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px;
    }

    input {
        background-image: url(./cotten.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: none;
        box-shadow: 3px 3px 3px;
        border-radius: 15px;
        width: 185px;
        height: 60px;
        color: rgb(118, 14, 118);
        text-align: center;
        font-size: 25px;
        font-weight: bold;

    }

    button {
        background-image: url(./purple\ water.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 9px;
        width: 100px;
        height: 60px;
        font-size: 25px;
        box-shadow: 3px 3px 3px black;
        color: rgb(235, 163, 76);
        font-weight: bold;
    }
}