* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.grade {
    background-image: url(./lilac\ flower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 180px auto;
    padding: 30px;
    border: 1px solid black;
    width: 470px;
    height: 250px;
    border-radius: 20px;
}

input {
    background-image: url(./cotten.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    box-shadow: 3px 3px 3px;
    border-radius: 15px;
    width: 290px;
    height: 47px;
    color: rgb(118, 14, 118);
    text-align: center;
    font-size: 20px;

}

button {
    background-image: url(./purple\ water.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 9px;
    width: 100px;
    height: 49px;
    font-size: 20px;
    box-shadow: 3px 3px 3px;
    color: rgba(215, 169, 201, 0.965);
}

@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
        background-image: url(./gradient.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .grade {
        background-image: url(./lilac\ flower.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 180px auto;
        padding: 30px;
        width: 350px;
        height: 250px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px;
    }

    input {
        background-image: url(./cotten.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: none;
        box-shadow: 3px 3px 3px;
        border-radius: 15px;
        width: 170px;
        height: 40px;
        color: rgb(118, 14, 118);
        text-align: center;
        font-size: 20px;

    }

    button {
        background-image: url(./purple\ water.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 9px;
        width: 100px;
        height: 40px;
        font-size: 20px;
        box-shadow: 3px 3px 3px;
        color: rgba(215, 169, 201, 0.965);
    }
}